:root {
  --highlight: #C75571;
  --main-max-width: 1100px;
  --content-max-width: 768px;
}

html {
  background: black;
 /*overscroll color chrome*/
}

body {
  font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen-Sans, Cantarell, "Helvetica Neue", sans-serif;
  /*font-family: 'Harmonia Demo', 'Inter', 'Helvetica Neue', sans-serif;*/
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: white;
  font-size: 1em;
}

body:after {
  content: '';
  position: fixed;
  top: 50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  z-index: -99;
  background: black;
 /*overscroll color safari*/
}

h1, h1 a {
  text-align: center;
  font-size: 2.2em;
  font-weight: normal;
  letter-spacing: -0.01em;
  line-height: 1.7em;
  color: black;
}

ul.menu li {
  text-transform: uppercase;
}

/*********** main ***********/


main {
  display: block;
  margin: auto; /*center all content*/
  width: 90vw;
  max-width: var(--main-max-width);
  padding: 40px 0;
  margin: auto;
}

h2, h3, h4, h5 {
  margin: auto;
  max-width: var(--content-max-width);
  font-weight: normal;
  letter-spacing: -0.01em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.2em;
}

p, main ul {
  margin: auto;
  max-width: var(--content-max-width);
  padding-bottom: 1em;
  line-height: 1.7em;
}

main ul > li:before {
    display: inline-block;
    content: "•";
    width: 0.75em;
    margin-left: -0.75em;
}

h2.post {
  padding-bottom: 0em;
}

img.page {
  display: block; /* for center */
  padding: 30px 0;
  width: 100%;
  max-width: calc(var(--main-max-width)/1.75);
  margin: auto;
}

img.page.pattern {
  max-width: 100vw;
  padding: 0;
  height: 220px;
  object-fit: none;
}

main img {
  width: 100%;
  margin: auto;
  max-width: 800px;
}

main .intro {
  padding: 20px 40px;
}

main .intro p {
  font-size: 1.2em;
  line-height: 1.5em;
  text-align: center;
  max-width: 500px;
  margin: auto;
}

main a.button {
  font-size: 0.8em;
  font-weight: 500;
  text-transform: uppercase;
  border: 1px solid;
  color: var(--highlight);
  padding: 11px 15px 10px;
}

main a:hover.button {
  border: 0;
  color: white;
  background: var(--highlight);
  mix-blend-mode: multiply;
 /*transparent text*/
  padding: 12px 16px 11px;
 /*displace border*/
}

main .highlight {
  color: var(--highlight);
}

main p.tag {
  color: var(--highlight);
}

main p.tag.page {
  text-align: center;
}

.case {
  margin: auto;
  max-width: 1100px;
  height: 100%;
  padding: 14px 0;
}

.case img {
  width: 100%;
  height: auto;
}

.case .description {
  /* padding-bottom: 1em; */
  max-width: 95%;
  margin: auto;
}

/* hide view project button on mobile */
.view-project {
  display: none;
}

@media (min-width: 768px) {
  .case {
    display: flex;
    justify-content: center;
  }

  .case .description {
    width: 50%;
    padding-left: 24px;
    padding-right: 0;
    margin: 0;
  }

  img.left {
    float: left;
    width: 50%;
    padding: 30px 30px 30px 0;
  }

  img.right {
    float: right;
    width: 50%;
    padding: 30px 0 30px 30px;
  }

  /* show view project button on desktop */
  .view-project {
    display: block;
  }

  img.page.pattern {
    height: 400px;
    object-fit: cover;
  }
}

p.page.description {
  text-align: center;
  max-width: 600px;
  padding-bottom: 0;
}

p.page.pattern {
  margin-left: -10px;
}

.case .description h2,
.case .description h2 a {
  font-size: 1.3em;
  line-height: 1.7em;
  color: black;
}

.case .section {
  padding-bottom: 20px; /* button top padding */
}

.case .description p {
  font-size: 1em;
  line-height: 1.4em;
}

.case .description h1,
.case .description h2,
.case .description h3,
.case .description p {
  width: 100%;
}

/********* pagination **********/

.pagination {
  font-size: 1.1em;
  display: block;
  max-width: var(--content-max-width);
  margin: auto;
  width: 100%;
  overflow: hidden;
}

.pagination a {
  color: var(--highlight);
  display: block;
  width: 50%;
  float: left;
  margin: 30px 0 5px;
}

.pagination a:hover {
  text-decoration: underline;
}

.pagination .next {
  text-align: right;
  float: right;
}

/*********** footer ***********/

footer {
  display: block;
  position: relative;
  min-height: 200px;
  background: black;
  color: white;
  z-index: 0;
}

footer .content {
  margin: auto;
  padding: 5em 0;
  width: 90vw;
  max-width: var(--content-max-width);
}

footer .info {
  position: absolute;
  bottom: 30px;
  font-size: .9em;
  display: flex;
  justify-content: space-between;
  /* width: calc(100vw - 70px); */
  line-height: 30px;
}

footer .info .social {
  display: flex;
  width: 65px;
  justify-content: space-between;
}

footer .text {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  margin-bottom: 60px;
}

footer p {
  width: 100%;
}

footer .text .category {
  width: 175px;
  margin-bottom: 20px;
}

footer .text h6, footer .text h6 a {
  font-size: 1.1em;
  padding-bottom: 1em;
  color: #ECDDDD;
  display: ;
}

footer .text .category ul li,
footer .text .category ul li a {
  padding-bottom: 0.5em;
  font-size: 1em;
  color: white;
}

footer .text .category a:hover {
  text-decoration: underline;
}
