---
layout: default
---

<a href="{{ page.url }}"><h1 class="page">{{ page.title }}</h1></a>

<p class="tag page">
	{% if page.tags.size > 0 %}
	{{ page.tags | sort | join: ", " }}
	{% endif %}
</p>

<p class="page description">{{ page.description }}</p>

<img class="page" src="/assets/img/{{ page.featured-image }}" alt="{{ page.featured-image-alt }}" />

	{{ content }}

<div class="pagination">
	<!-- reversed -->
  {% if page.next.url %}
    <a class="prev" href="{{page.next.url}}">&larr; {{page.next.title}}</a>
  {% endif %}
  {% if page.previous.url %}
    <a class="next" href="{{page.previous.url}}">{{page.previous.title}} &rarr;</a>
  {% endif %}
</div>
